@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 200;
	src: url('/fonts/Lato/Lato-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 200;
	src: url('/fonts/Lato/Lato-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/Lato/Lato-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 300;
	src: url('/fonts/Lato/Lato-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src: url('/fonts/Lato/Lato-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/Lato/Lato-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 500;
	src: url('/fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/Lato/Lato-Black.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 500;
	src: url('/fonts/Lato/Lato-BlackItalic.ttf') format('truetype');
}

:root {
	font-family: 'Lato', sans-serif;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}
